.mission {
  position: relative;
  @media (max-width: 1023px) {
    margin-top: 82px;
    padding-bottom: 150px;
  }
  &__min-img {
    width: auto;
    margin: 0 auto;
    @media (min-width: 1024px) {
      display: none;
    }
  }
  &__big-img {
    display: none;
    @media (min-width: 1024px) {
      display: block;
    }
  }
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }
  &__txt {
    position: absolute;
    z-index: 1;
    @media (max-width: 1023px) {
      left: 50%;
      width: 438px;
      margin-top: 70px;
      transform: translateX(-50%);
    }
    @media (min-width: 1024px) {
      top: 50%;
      right: 100px;
      max-width: 450px;
      transform: translateY(-50%);
    }
    @media (min-width: 1190px) {
      max-width: 585px;
      right: 0;
    }
    .h2 {
      text-align: left;
    }
  }
  &__message {
    margin-top: 34px;
    color: #000;
    @media (max-width: 1023px) {
      font-size: 30px;
      font-weight: 500;
      line-height: 36px;
      text-align: center;
    }
    @media (min-width: 1024px) {
      font-size: 22px;
      font-weight: 300;
      line-height: 36px;
    }
    @media (min-width: 1190px) {
      font-size: 22px;
      line-height: 36px;
    }
    a {
      color: #555;
      font-size: 22px;
      text-decoration: underline;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__partner {
    margin-top: 200px;
    color: #555;
    font-size: 18px;
    font-weight: 900;
    @media (min-width: 1024px) {
      margin-top: 40px;
    }
    @media (min-width: 1190px) {
      margin-top: 80px;
    }
    span {
      vertical-align: 30%;
    }
    img {
      display: inline-block;
      width: auto;
      margin-left: 13px;
    }
  }
  &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 93px;
    background-color: #ededed;
    @media (min-width: 1024px) {
      display: none;
    }
  }
}
