.mission
  img.mission__big-img(src="./assets/images/mission-bg.jpg", alt="")
  img.mission__min-img(src="./assets/images/mission-min.jpg", alt="")
  .mission__wrapper
    .mission__content
      .mission__txt
        h2.h2 OUR MISSION
        .mission__message
          | b+b is a family owned health&nbsp;& wellness company founded on the principle of one-for-one giving. As the saying goes, we want to be the change that we want to see in the world. We invite you to join us in the pursuit.&nbsp;
          a(href="#") read more
        .mission__partner
          span In partnership with
          img(src="./assets/images/logo-americares.png", alt="")
      .mission__footer
