.locator {
  position: relative;
  min-height: 964px;
  &--welcome {
    .retailer {
      margin-top: 0;
      @media (min-width: 1024px) {
        min-height: 740px;
      }
    }
  }

  #retailer-map {
    position: absolute !important;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__controls {
    position: absolute;
    top: 60px;
    left: 20px;
    z-index: 50;
    @media (min-width: 1024px) {
      top: 198px;
      left: 74px;
    }
  }
  &__zoom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 0;
    .btn {
      margin: 4px 0;
    }
  }
  &__result {
    text-align: center;
  }
}


.locator-search {
  position: relative;
  width: 74px;
  height: 74px;
  .forms__field {
    display: none;
  }
  &__btn {
    position: absolute;
    display: block;
    width: 74px;
    height: 74px;
    background-color: #d31e15;
    text-align: center;
    line-height: 70px;
    border-radius: 37px;
    transition: background-color $mid;
    &:hover {
      background-color: #e41703;
    }
  }
}


.locator-results {
  text-transform: uppercase;
  display: none;
  position: absolute;
  top: 60px;
  left: 160px;
  padding: 44px 75px 44px 33px;
  background-color: rgba(#fff, 0.9);
  z-index: 20;
  @media (min-width: 1024px) {
    top: 200px;
    left: 300px;
    padding: 44px 75px 44px 33px;
  }
  &__min {
    display: block;
    position: absolute;
    top: 15px;
    right: 14px;
  }
  &__title {
    padding-bottom: 10px;
    padding-left: 18px;
    font-size: 22px;
    font-weight: 500;
  }
  &__body {
    max-height: 510px;
    padding-right: 24px;
    overflow-y: auto;
  }
  &__list {
    padding-left: 40px;
  }
  &__item {
    margin: 16px 0;
  }
  &__link {
    display: block;
    font-weight: 500;
    transition: opacity $mid;
    &:hover {
      opacity: 0.7;
    }
  }
  &__name {
    color: #000;
    font-size: 18px;
    line-height: 24px;
  }
  &__contacts {
    color: #0db1ef;
    font-size: 18px;
    line-height: 20px;
  }
}


.locator-pin {
  height: 110px;
  @media (min-width: 1024px) {
    top: 380px;
    left: 900px;
  }
  img {
    width: auto;
  }
}


.locator-label {
  text-transform: uppercase;
  width: 228px;
  height: 145px;
  padding: 20px 40px 30px 20px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 3px -2px 5px rgba(0, 0, 0, 0.08);
  &__name {
    color: #727272;
    line-height: 24px;
  }
  &__contacts {
    color: #00adee;
    line-height: 20px;
  }

}

.infoBox {
  img {
    width: initial;
    padding-right: 19px;
    padding-top: 19px;
  }
}
