ul.tags
  li.tags__item
    a.tags__link(href="#") Design
  li.tags__item
    a.tags__link(href="#") Photography
  li.tags__item
    a.tags__link(href="#") Branding
  li.tags__item
    a.tags__link(href="#") Videos
  li.tags__item
    a.tags__link(href="#") Apps
  li.tags__item
    a.tags__link(href="#") Development
