.tags {
  &__item {
    display: inline-block;
    margin-bottom: 10px;
    &:not(:last-child) {
      margin-right: 3px;
    }
  }
  &__link {
    display: inline-block;
    padding: 0 16px;
    height: 40px;
    line-height: 38px;
    border-radius: 20px;
    border: 1px solid #b2b2b2;
  }
}
