.main-slider {
  touch-action: manipulation;
  &__item {
    width: 100%;
  }
}


.retailers {
  height: 120px;
  background-color: #e9e9e9;
  border-top: 2px solid #dee0e1;
  @media (max-width: 1023px) {
    display: none;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    @media (min-width: 1024px) {
      justify-content: space-between;
    }
  }
  &__txt {
    display: none;
    color: #92979b;
    font-family: $sans-serif;
    font-size: 20px;
    font-weight: 400;
    @media (min-width: 1024px) {
      display: block;
    }
  }
  &__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    @media (min-width: 1024px) {
      width: 60%;
    }
  }
}


.main-products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 58px;
  margin-bottom: 40px;
  &__item {
    flex-basis: 50%;
    text-align: center;
    @media (min-width: 1024px) {
      flex-basis: auto;
    }
  }
  &__item .main-products__link:hover {
    .main-products__name {
      bottom: 55px;
      color: $white;
      font-weight: 800;
      font-size: 21px;
      span {
        font-weight: 400;
        opacity: 1;
      }
    }
  }
  &__item:nth-child(2) .main-products__link:hover {
    &::after {
      background-color: rgba($white, 0.7);
      opacity: 1;
    }
    .main-products__name {
      color: #1d60a5;
    }
  }
  &__item:nth-child(3) .main-products__link:hover {
    &::after {
      background-color: #1e63ab;
      mix-blend-mode: multiply;
      opacity: 1;
    }
  }
  &__item:nth-child(4) .main-products__link:hover {
    &::after {
      background-color: #00adee;
      mix-blend-mode: multiply;
      opacity: 1;
    }
  }
  &__item:nth-child(1) .main-products__link:hover {
    &::after {
      background-color: #e31d1a;
      mix-blend-mode: multiply;
      opacity: 1;
    }
  }
  &__link {
    position: relative;
    display: inline-block;
    width: 256px;
    height: 405px;
    &::after {
      display: block;
      content: "";
      @include absolute-center;
      opacity: 0;
      box-shadow: 0 0 15px 0 rgba(160, 160, 160, 0.75);
      transition: opacity $mid;
    }
    img {
      position: absolute;
      top: 54px;
      left: 50%;
      width: 401px;
      transform: translateX(-50%);
      pointer-events: none;
    }
  }
  &__name {
    position: absolute;
    left: 50%;
    bottom: 40px;
    color: #000;
    font-family: $sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50%);
    transition: all $mid;
    z-index: 1;
    @media (min-width: 1024px) {
      font-size: 20px;
      font-weight: 300;
    }
    span {
      display: block;
      padding-top: 3px;
      font-size: 12px;
      line-height: 19px;
      opacity: 0;
    }
  }
}


.main-features {
  height: 180px;
  margin-top: 34px;
  // background-color: #eee;
  background-color: #e1e1e1;
  &__list {
    display: flex;
    justify-content: space-around;
    height: 100%;
  }
  &__item {
    padding-top: 110px;
    // color: #9a9da0;
    color: #6a6a6a;
    font-family: $sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: 50% 45px;
    &:nth-child(1) {
      background-image: url(../assets/images/icons/icon-safe-and-effective.png);
    }
    &:nth-child(2) {
      background-image: url(../assets/images/icons/icon-no-gluten.png);
    }
    &:nth-child(3) {
      background-image: url(../assets/images/icons/icon-dye-free.png);
    }
    &:nth-child(4) {
      background-image: url(../assets/images/icons/icon-eco-friendly.png);
    }
  }
}


.main-packaging {
  padding-top: 33px;
  &__btns {
    text-align: center;
    .btn {
      margin: 0 9px;
    }
  }
  &__packs {
    margin-top: 98px;
    padding-bottom: 30px;
    @media (min-width: 1024px) {
      margin-top: 78px;
    }
  }
  &__pack {
    position: relative;
    height: 400px;
    margin: 0 auto;
    @media (min-width: 1024px) {
      height: 529px;
    }
  }

  &__blister {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -246px;
    width: 468px;
    height: 293px;
    background-image: url(../assets/images/capa-14.jpg);
    background-repeat: no-repeat;
    background-size: 540px auto;
    background-position: -3px top;
    @media (min-width: 1024px) {
      left: 46px;
      width: 1028px;
      height: 467px;
      margin-left: 0;
      background-position: 7px 14px;
      background-size: 977px auto;
    }
    > div {
      position: absolute;
      color: #6a6a6a;
      font-family: $sans-serif;
      font-size: 23px;
      font-weight: 500;
      line-height: 24px;
      &::after {
        position: absolute;
        content: "";
        width: 34px;
        height: 21px;
        background-image: url(../assets/images/icons/icon-pack-arrow.png);
        background-repeat: no-repeat;
        background-size: 34px 21px;
        @media (min-width: 1024px) {
          width: 54px;
          height: 33px;
          background-size: 54px 33px;
        }
      }
      &:nth-child(1) {
        top: -17px;
        left: -104px;
        width: 194px;
        padding-right: 45px;
        text-align: right;
        @media (min-width: 1024px) {
          width: 305px;
          left: -110px;
          padding-right: 70px;
        }
        &::after {
          top: 15px;
          right: 0;
        }
      }
      &:nth-child(2) {
        top: -17px;
        right: -108px;
        width: 194px;
        padding-left: 45px;
        @media (min-width: 1024px) {
          right: 63px;
          width: 290px;
          padding-left: 75px;
        }
        &::after {
          top: 15px;
          left: 0;
          transform: scaleX(-1);
        }
      }
      &:nth-child(3) {
        bottom: 22px;
        left: -79px;
        width: 190px;
        padding-right: 38px;
        text-align: right;
        @media (min-width: 1024px) {
          bottom: 72px;
          left: -43px;
          width: 245px;
          padding-right: 70px;
        }
        &::after {
          top: -20px;
          right: 0;
          transform: rotate(-45deg);
          @media (min-width: 1024px) {
            top: -10px;
          }
        }
      }
      &:nth-child(4) {
        bottom: 10px;
        right: -104px;
        width: 195px;
        padding-left: 45px;
        @media (min-width: 1024px) {
          bottom: 62px;
          right: 55px;
          width: 290px;
          padding-left: 70px;
        }
        &::after {
          top: -10px;
          left: 0;
          transform: scaleX(-1) rotate(-45deg);
        }
      }
    }
  }


  &__tablets {
    display: none;
    position: absolute;
    top: 17px;
    left: 50%;
    margin-left: -184px;
    width: 368px;
    height: 293px;
    background-image: url(../assets/images/capa-16.png);
    background-repeat: no-repeat;
    background-size: 368px 293px;
    background-position: -20px top;
    @media (min-width: 1024px) {
      width: 585px;
      height: 467px;
      background-position: -155px top;
      background-size: 585px 467px;
    }
    > div {
      position: absolute;
      color: #6a6a6a;
      font-family: $sans-serif;
      font-size: 23px;
      font-weight: 500;
      line-height: 24px;
      &::after {
        position: absolute;
        content: "";
        width: 34px;
        height: 21px;
        background-image: url(../assets/images/icons/icon-pack-arrow.png);
        background-repeat: no-repeat;
        background-size: 34px 21px;
        @media (min-width: 1024px) {
          width: 54px;
          height: 33px;
          background-size: 54px 33px;
        }
      }
      &:nth-child(1) {
        top: -17px;
        left: -112px;
        width: 194px;
        padding-right: 45px;
        text-align: right;
        @media (min-width: 1024px) {
          width: auto;
          left: -247px;
          padding-right: 70px;
        }
        &::after {
          top: 15px;
          right: 0;
        }
      }
      &:nth-child(2) {
        top: -17px;
        right: -128px;
        width: 194px;
        padding-left: 45px;
        @media (min-width: 1024px) {
          right: -80px;
          width: 300px;
          padding-left: 75px;
        }
        &::after {
          top: 15px;
          left: 0;
          transform: scaleX(-1);
        }
      }
      &:nth-child(3) {
        bottom: 22px;
        left: -112px;
        width: 194px;
        padding-right: 45px;
        text-align: right;
        @media (min-width: 1024px) {
          width: 331px;
          bottom: 170px;
          left: -325px;
          padding-right: 70px;
        }
        &::after {
          top: -10px;
          right: 0;
          transform: rotate(-45deg);
        }
      }
      &:nth-child(4) {
        top: 240px;
        left: 50%;
        width: 108px;
        margin-left: -45px;
        padding-top: 38px;
        text-align: center;
        @media (min-width: 1024px) {
          top: 370px;
          left: 103px;
          width: 160px;
          margin-left: 0;
          padding-top: 66px;
        }
        &::after {
          top: -10px;
          left: 50%;
          width: 21px;
          height: 32px;
          background-image: url(../assets/images/icons/icon-pack-arrow-bottom.png);
          background-size: 21px 32px;
          transform: translateX(-50%);
          @media (min-width: 1024px) {
            width: 34px;
            height: 51px;
            background-size: 34px 51px;
          }
        }
      }
      &:nth-child(5) {
        bottom: 22px;
        right: -128px;
        width: 194px;
        padding-left: 45px;
        @media (min-width: 1024px) {
          bottom: 160px;
          right: -107px;
          width: 320px;
          padding-left: 75px;
        }
        &::after {
          top: -10px;
          left: 0;
          transform: scaleX(-1) rotate(-45deg);
        }
      }
    }
  }
}
