.main-slider.js-main-slider
  .main-slider__item
    img(src="./assets/images/hero-slide-1.jpg", alt="")
  .main-slider__item
    img(src="./assets/images/hero-slide-2.jpg", alt="")
  .main-slider__item
    img(src="./assets/images/hero-slide-3.jpg", alt="")

.retailers
  .container
    .retailers__txt Available at the following retailers
    .retailers__logos
      a.retailers__logo(href="javascript:void(0)")
        img(src="./assets/images/logo-target.png", alt="")
      a.retailers__logo(href="javascript:void(0)")
        img(src="./assets/images/logo-walgreens.png", alt="")
      a.retailers__logo(href="javascript:void(0)")
        img(src="./assets/images/logo-heb.png", alt="")
      a.retailers__logo(href="javascript:void(0)")
        img(src="./assets/images/logo-cvs.png", alt="")
      a.retailers__logo(href="javascript:void(0)")
        img(src="./assets/images/logo-sam-s-club.png", alt="")

hr

.block.container
  h2.h2.h2--nowrap
    | THE LITTLE BOTTLE WITH A BIG HEART
    i.icon.icon--hearts
  h3.h3 Same effective pain relief medicines you know & love with thoughtful easy-to-use packaging & a mission to help others with each purchase.

  ul.main-products
    li.main-products__item
      a.main-products__link(href="javascript:void(0)")
        img(src="./assets/images/products-cetaminophen.png", alt="")
        .main-products__name
          | CETAMINOPHEN
          span Tablets 50 ct
    li.main-products__item
      a.main-products__link(href="javascript:void(0)")
        img(src="./assets/images/products-ibuprofen-softgels.png", alt="")
        .main-products__name
          | IBuprofen
          span Tablets 40 ct
    li.main-products__item
      a.main-products__link(href="javascript:void(0)")
        img(src="./assets/images/products-ibuprofen.png", alt="")
        .main-products__name
          | IBuprofen
          span Tablets 50 ct
    li.main-products__item
      a.main-products__link(href="javascript:void(0)")
        img(src="./assets/images/products-naproxen.png", alt="")
        .main-products__name
          | NAPROXEN
          span Tablets 50 ct

.main-features
  .container
    ul.main-features__list
      li.main-features__item Safe<br />& effective
      li.main-features__item QUALITY<br />INGRIDIENTS
      li.main-features__item DYE FREE<br />OPTIONS AVAILABLE
      li.main-features__item ECO-FRIENDLY<br />PACKAGING

.block.block--gray
  .container
    h2.h2 Modern, innovative and convenient packaging
    h3.h3 Explore a new way to stock your medicine cabinet.
    .main-packaging
      .main-packaging__btns
        a.btn.btn--default.btn--active.js-packaging-btn-blister(href="#") Blister Pack
        a.btn.btn--default.js-packaging-btn-tablets(href="#") 50 count
      .main-packaging__packs
        .main-packaging__pack
          .main-packaging__blister.js-packaging-blister
            div Rounded Edges<br />to Prevent Cuts
            div Safe & Child Resistant to Reduce Risk of Overdose
            div Easy Tear Off Packaging for On The Go
            div Color Coded to Easily Identify Product
          .main-packaging__tablets.js-packaging-tablets
            div Easy Open &&nbsp;Pour
            div Stackable,<br />space saving design
            div Clear Window to see when&nbsp;you’re running&nbsp;out
            div UPS Certified FDA Approved
            div Designed to&nbsp;fit in the palm&nbsp;of&nbsp;your hand

include ../pain/pain.pug
include ../retailer/retailer.pug
include ../founders/founders.pug
include ../main-mission/main-mission.pug






//-
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
  <form action="//bbcompany.us15.list-manage.com/subscribe/post?u=6429ffa8a7bd1056f7002e3f6&amp;id=3cd9be4509" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6429ffa8a7bd1056f7002e3f6_3cd9be4509" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
  </div>
  <!--End mc_embed_signup-->
