head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport", content="width=667")
  meta(name="format-detection", content="telephone=no")
  title #BETTERBYGIVING
  link(rel="stylesheet", href="./css/main.css")
  script(src="js/vendor/modernizr-2.8.3.min.js")

  <!--[if lt IE 9]>
    script(src="js/vendor/respond.min.js")
  <![endif]-->

  link(rel="apple-touch-icon", sizes="152x152", href="./apple-touch-icon.png")
  link(rel="icon" type="image/png", sizes="32x32", href="./favicon-32x32.png")
  link(rel="icon" type="image/png", sizes="16x16", href="./favicon-16x16.png")
  link(rel="manifest", href="./manifest.json")
  link(rel="mask-icon", href="./safari-pinned-tab.svg", color="#5bbad5")
  meta(name="theme-color", content="#ffffff")
