.founders
  h2.h2.h2--white MESSAGE FROM THE FOUNDERS
  .founders__video
    iframe(src="https://www.youtube.com/embed/B08iLAtS3AQ", frameborder="0", allowfullscreen)
  .founders__txt.container Consectetur adipiscing elit. Curabitur convallis nibh vitae ex vulputate, a cursus tellus sceler,isque. Proin magna ligula, tristique eu lacus vel, laoreet laoreet ex.

