.founders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 649px;
  padding-top: 63px;
  padding-bottom: 93px;
  background-image: url(../assets/images/textur-bg.png);
  @media (min-width: 1024px) {
    padding-top: 154px;
    padding-bottom: 89px;
  }

  &__video {
    padding-top: 46px;
    @media (min-width: 1024px) {
      padding-top: 82px;
      padding-bottom: 53px;
    }
    iframe {
      width: 612px;
      height: 344px;
      @media (min-width: 1024px) {
        width: 1020px;
        height: 574px;
      }
    }
  }
  &__txt {
    display: none;
    color: #fff;
    font-family: $sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
    @media (min-width: 1024px) {
      display: block;
    }
  }
}
