.product {
  position: relative;
  background-color: #f6f6f6;
  @media (min-width: 1024px) {
    padding-top: 62px;
    padding-bottom: 100px;
  }
  &::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    background-color: #e1e1e1;
    @media (max-width: 1023px) {
      height: 280px;
    }
    @media (min-width: 1024px) {
      height: 368px;
    }
  }
  &__desktop {
    @media (max-width: 1023px) {
      display: none;
    }
  }
  &__mobile {
    @media (min-width: 1024px) {
      display: none;
    }
  }
}


.product-selector {
  position: relative;
  width: 100%;
  &__img {
    position: relative;
    height: 570px;
    pointer-events: none;
    img {
      display: none;
      position: absolute;
      left: -233px;
      width: 970px;
      &:nth-child(1) {
        display: block;
      }
    }
  }
  &__banner {
    position: absolute;
    top: 60px;
    right: 0;
    width: 258px;
  }
  &__group {
    margin-top: 5px;
    font-size: 21px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &__breadcrumbs {
    position: relative;
    height: 15px;
    margin-top: 110px;
    margin-bottom: 74px;
    color: #8d8d8d;
    font-size: 15px;
    text-transform: uppercase;
    white-space: nowrap;
    > span {
      font-weight: 300;
    }
    .icon {
      margin: 0 7px;
      transform: scaleX(-1);
    }
  }
  &__breadcrumbs-wrapper {
    position: absolute;
    right: 0;
  }
  &__name {
    display: inline-block;
    font-weight: 800;
    span {
      display: none;
      &:nth-child(1) {
        display: block;
      }
    }
  }
  &__hashtag {
    display: block;
    width: 256px;
  }
  &__donate {
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 16px;
    color: #555555;
    background-color: #efefef;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    a {
      color: #555555;
      font-size: 16px;
      font-weight: 500;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
  &__select {
    position: absolute;
    bottom: -58px;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 260px;
    img {
      position: absolute;
      top: 0;
      left: -50%;
      width: 113px;
    }
  }
  &__btn {
    display: block;
    position: relative;
    width: 57px;
    height: 57px;
    &::before {
      position: absolute;
      content: "";
      top: -29px;
      left: 19px;
      width: 18px;
      height: 13px;
      opacity: 0;
      background-image: url(../assets/images/icons/icon-hero-active.png);
      background-size: 18px 13px;
      background-repeat: no-repeat;
      transition: opacity $mid;
    }
    &--active::before {
      opacity: 1;
    }
    img {
      pointer-events: none;
    }
  }
}



.product-facts {
  display: flex;
  margin-top: 65px;
  &__list {
    margin-top: 35px;
  }
  &__disclaimer {
    font-size: 17px;
    line-height: 22px;
    margin-top: 20px;
    font-weight: 700;
    font-style: italic;
  }
  &__link {
    display: block;
    position: relative;
    width: 256px;
    padding: 16px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #707070;
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 17px;
      width: 14px;
      height: 14px;
      margin-top: -7px;
      background-image: url(../assets/images/icons/icon-plus.png);
      background-repeat: no-repeat;
      background-size: 13px;
      background-position: 50%;
    }
    &--active::after {
      font-weight: 300;
      background-image: url(../assets/images/icons/icon-crest.png);
      background-size: 11px;
    }
  }
  &__desc {
    margin-left: 94px;
    color: #555;
    margin-top:50px;
  }
  &__info {
    display: none;
    &:nth-child(1) {
      display: block;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__txt {
    margin-top: 20px;
    font-size: 22px;
    line-height: 36px;
    h4 {
        margin-bottom: 10px;
    }
    strong {
      font-weight: 700;
    }

    p {
      padding: 8px 0;
    }

    ul {
      padding: 8px 0 8px 26px;
      li {
        list-style: disc outside;
      }
    }
    ol {
      padding: 8px 0 8px 26px;
      li {
        list-style: decimal outside;
      }
    }
  }
}




.product-slider {
  position: relative;
  height: 440px;
  touch-action: manipulation;
  &__static {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 126px;
    pointer-events: none;
    z-index: 1;
  }
  &__item {
    width: 100%;
    height: 100%;
  }
  &__img {
    position: absolute;
    top: 48px;
    left: -120px;
    width: 100%;
    max-width: 600px;
  }
  &__banner {
    position: absolute;
    top: 58px;
    right: 30px;
    max-width: 258px;
  }
  &__breadcrumbs {
    position: absolute;
    left: 30px;
    bottom: 28px;
    color: #8d8d8d;
    font-size: 23px;
    text-transform: uppercase;
    > span:first-child {
      margin-right: 7px;
      font-weight: 300;
    }
  }
  &__name {
    display: inline-block;
    font-weight: 800;
    span {
      display: none;
      &:nth-child(1) {
        display: block;
      }
    }
  }
  &__drag {
    position: absolute;
    right: 35px;
    bottom: 58px;
    width: 72px;
    height: 66px;
    background-image: url(../assets/images/horizontal-scroll.png);
  }
}


.product-accordion {
  &__list {
    border-top: 2px solid #b3b3b3;
  }
  &__disclaimer {
    font-size: 17px;
    line-height: 22px;
    margin-top: 20px;
    font-weight: 700;
    font-style: italic;
  }
  &__link {
    display: block;
    position: relative;
    padding-left: 27px;
    font-size: 36px;
    line-height: 83px;
    text-transform: uppercase;
    border-bottom: 2px solid #b3b3b3;
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 31px;
      width: 18px;
      height: 18px;
      margin-top: -9px;
      background-image: url(../assets/images/icons/icon-plus.png);
      background-repeat: no-repeat;
      background-size: 18px;
      transition: transform 350ms;
    }
    &--active {
      background-color: #fff;
      font-weight: 500;
      border-bottom: 2px solid #dadada;
      &::after {
        background-image: url(../assets/images/icons/icon-crest-gray.png);
      }
    }
  }
  &__info {
    display: none;
    overflow: hidden;
    padding: 43px 54px;
    color: #565656;
    font-size: 36px;
    line-height: 45px;
    border-bottom: 2px solid #dadada;
    &--active {
      display: block;
    }
    &--faqs {
      padding: 27px;
      background-color: #fff;
    }
    h4 {
        margin-bottom: 10px;
    }
    strong {
      font-weight: 700;
    }
    p + p {
      margin-top: 26px;
    }
    ul {
      padding-left: 26px;
      li {
        list-style: disc outside;
      }
    }
    ol {
      padding-left: 26px;
      li {
        list-style: decimal outside;
      }
    }
  }
}


.product-banner {
  width: 258px;
  &__headline {
    margin-bottom: 5px;
    padding: 10px 14px;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 15px;
  }
  &__title {
    font-size: 31px;
    font-weight: 900;
    text-transform: lowercase;
  }
  &__subheadline {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 700;
  }
}


.product-addition {
  padding-bottom: 20px;
  background-color: #fff;
  background-image: url(../assets/images/colored-line.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  &__hashtag {
    display: block;
    padding: 70px 55px 50px;
  }
  &__donate {
    padding: 45px 55px;
    color: #fff;
    background-color: #60aaea;
    font-size: 32px;
    line-height: 50px;
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}


.product-filter {
  position: relative;
  margin-bottom: 27px;
  &__control {
    text-align: right;
  }
  &__btn {
    color: #a5a5a5;
    font-size: 27px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
    span {
      margin-right: 23px;
    }
  }
  &__content {
    display: none;
    position: absolute;
    top: -27px;
    right: -27px;
    max-width: 519px;
    padding: 60px 100px;
    background-color: #e0e0e0;
    z-index: 1;
  }
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 36px;
    height: 36px;
    padding: 30px;
    background-image: svg-load("../assets/images/icons/icon-close-nav.svg");
    background-size: 36px;
    background-position: 50%;
    background-repeat: no-repeat;
  }
}
