.product
  .container

    .product__desktop
      .product-selector
        .product-selector__img
          img(src="./assets/images/product-big-acetaminophen.png", alt="", data-product-selector-content)
          img(src="./assets/images/product-big-naproxen.png", alt="", data-product-selector-content)
          img(src="./assets/images/product-big-ibuprofen-softgels.png", alt="", data-product-selector-content)
          img(src="./assets/images/product-big-ibuprofen.png", alt="", data-product-selector-content)
        .product-selector__banner
          .product-banner
            .product-banner__headline(style="background-color: #e12024; color: #e1e1e1;") Extra Strength Pain Reliever
            //
              .product-banner__headline(style="background-color: #2999e2; color: #e1e1e1;") Extra Strength Pain Reliever
              .product-banner__headline(style="background-color: #fff; color: #2999e2;") Extra Strength Pain Reliever
              .product-banner__headline(style="background-color: #1f64a9; color: #e1e1e1;") Extra Strength Pain Reliever

            .product-banner__title acetaminophen
            .product-banner__subheadline Pain Relieve/Fever Reducer
          .product-selector__group (NSAID)
          .product-selector__breadcrumbs
            .product-selector__breadcrumbs-wrapper
              .product-selector__name
                span(data-product-selector-name) ACETAMINOPHEN
                span(data-product-selector-name) naproxen
                span(data-product-selector-name) ibuprofen
                span(data-product-selector-name) ibuprofen
              i.icon.icon--blue-right-arrow
              span PRODUCTS
          a.product-selector__hashtag(href="#")
            img(src="./assets/images/better-by-giving.png", alt="")
          .product-selector__donate
            | We donate one bottle for every bottle purchased to a family in need.&nbsp;
            a(href="#") read more
        .product-selector__select
          a.product-selector__btn.product-selector__btn--active(href="#", data-product-selector-control)
            img(src="./assets/images/products-cetaminophen.png", alt="")
          a.product-selector__btn(href="#", data-product-selector-control)
            img(src="./assets/images/products-naproxen.png", alt="")
          a.product-selector__btn(href="#", data-product-selector-control)
            img(src="./assets/images/products-ibuprofen-softgels.png", alt="")
          a.product-selector__btn(href="#", data-product-selector-control)
            img(src="./assets/images/products-ibuprofen.png", alt="")

      .product-facts
        ul.product-facts__list
          li
            a.product-facts__link.product-facts__link--active(href="#", data-product-facts-control) Overview
          li
            a.product-facts__link(href="#", data-product-facts-control) Ingredients
          li
            a.product-facts__link(href="#", data-product-facts-control) Uses
          li
            a.product-facts__link(href="#", data-product-facts-control) Warnings
          li
            a.product-facts__link(href="#", data-product-facts-control) Directions
          li
            a.product-facts__link(href="#", data-product-facts-control) Download
          li
            a.product-facts__link(href="#", data-product-facts-control) Faqs

        .product-facts__desc
          .product-facts__info(data-product-facts-content)
            .product-facts__title Overview
            .product-facts__txt
              p b+b Dye Free Ibuprofen is a safe and effective NSAID pain reliever and fever reducer when taken as directed. &nbsp;We have removed all artificial food dyes and only use quality FDA/USP approved ingredients. &nbsp;To show kindness to our planet, we have eliminated the excess box packaging used by most OTC brands.
              p For every b+b product purchased, we will donate a product to a person in need through our national partnership with Americares. &nbsp;You buy one. &nbsp;We give one, allowing you to manage your pain while helping others. (maybe provide link to read more about program)
          .product-facts__info(data-product-facts-content)
            .product-facts__title Ingredients
            .product-facts__txt
              ul
                li temporarily relieves minor aches and pains due to:
                ul
                  li muscular aches
                  li the common cold
                  li headache
                  li toothache
                  li backache
                  li menstrual cramps
                  li minor pain of arthritis
                li temporarily reduces fever
                ol
                  li muscular aches
                  li the common cold
                  li headache
                  li toothache
                  li backache
                  li menstrual cramps
                  li minor pain of arthritis
          .product-facts__info(data-product-facts-content)
            .product-facts__title Uses
            .product-facts__txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. <strong>Numquam aliquam doloremque</strong> corporis adipisci, commodi repudiandae, beatae reiciendis! Natus accusantium pariatur inventore, voluptate, consequatur assumenda sed sit, ducimus necessitatibus eius vero.
          .product-facts__info(data-product-facts-content)
            .product-facts__title Warnings
            .product-facts__txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam aliquam doloremque corporis adipisci, commodi repudiandae, beatae reiciendis! Natus accusantium pariatur inventore, voluptate, consequatur assumenda sed sit, ducimus necessitatibus eius vero.
          .product-facts__info(data-product-facts-content)
            .product-facts__title Directions
            .product-facts__txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam aliquam doloremque corporis adipisci, commodi repudiandae, beatae reiciendis! Natus accusantium pariatur inventore, voluptate, consequatur assumenda sed sit, ducimus necessitatibus eius vero.
          .product-facts__info(data-product-facts-content)
            .product-facts__title Download
            .product-facts__txt Download
          .product-facts__info(data-product-facts-content)
            .product-facts__title Faqs
            .product-facts__txt

            .product-facts__radio
              form(action="#")
                label.forms__radio(for="radio-1")
                  input.forms__radio-input(id="radio-1", name="radio", type="radio", checked="")
                  span.forms__radio-switcher
                  span.forms__radio-label All
                label.forms__radio(for="radio-2")
                  input.forms__radio-input(id="radio-2", name="radio", type="radio")
                  span.forms__radio-switcher
                  span.forms__radio-label General FAQ's
                label.forms__radio(for="radio-3")
                  input.forms__radio-input(id="radio-3", name="radio", type="radio")
                  span.forms__radio-switcher
                  span.forms__radio-label Safety & Usage
                label.forms__radio(for="radio-4")
                  input.forms__radio-input(id="radio-4", name="radio", type="radio")
                  span.forms__radio-switcher
                  span.forms__radio-label Packagings
                label.forms__radio(for="radio-5")
                  input.forms__radio-input(id="radio-5", name="radio", type="radio")
                  span.forms__radio-switcher
                  span.forms__radio-label Give Back Program

            .product-facts__faq
              ul.accordion.js-accordion
                li.accordion__item
                  .accordion__control Are b+b Ibuprofen Softgels addictive?
                  .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                li.accordion__item
                  .accordion__control Are b+b Ibuprofen Softgels an NSAID?
                  .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                li.accordion__item
                  .accordion__control Are b+b Ibuprofen Softgels safe?
                  .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                li.accordion__item
                  .accordion__control Can I drink alcohol while taking b+b Ibuprofen Softgels?
                  .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                li.accordion__item
                  .accordion__control Can I take b+b Acetaminophen in between doses of my other pain relievers?
                  .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                li.accordion__item
                  .accordion__control Can I take b+b Ibuprofen Softgels before or after surgery?
                  .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                li.accordion__item
                  .accordion__control Can I take b+b Ibuprofen Softgels if I have a heart condition?
                  .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                li.accordion__item
                  .accordion__control Can I take b+b Ibuprofen Softgels if I have diabetes?
                  .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                li.accordion__item
                  .accordion__control Can I take b+b Ibuprofen Softgels if I have high blood pressure?
                  .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                li.accordion__item
                  .accordion__control Can I take b+b Ibuprofen Softgels if I have liver disease?
                  .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                li.accordion__item
                  .accordion__control Can I take b+b Ibuprofen Softgels in between doses of my other pain relievers?
                  .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                li.accordion__item
                  .accordion__control Can I take b+b Ibuprofen Softgels while pregnant or nursing a child?
                  .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!


    .product__mobile
      .product-slider.js-product-slider
        .product-slider__static
          .product-slider__breadcrumbs
            span PRODUCTS
            i.icon.icon--blue-right-arrow
            .product-slider__name
              span(data-product-slider-name) ACETAMINOPHEN
              span(data-product-slider-name) naproxen
              span(data-product-slider-name) ibuprofen
              span(data-product-slider-name) ibuprofen
          .product-slider__drag

        .product-slider__item
          img.product-slider__img(src="./assets/images/product-big-acetaminophen.png", alt="")
          .product-slider__banner
            .product-banner
              .product-banner__headline(style="background-color: #e12024; color: #e1e1e1;") Extra Strength Pain Reliever
              .product-banner__title acetaminophen
              .product-banner__subheadline Pain Relieve/Fever Reducer
            .product-selector__group (NSAID)
        .product-slider__item
          img.product-slider__img(src="./assets/images/product-big-naproxen.png", alt="")
          .product-slider__banner
            .product-banner
              .product-banner__headline(style="background-color: #2999e2; color: #e1e1e1;") Extra Strength Pain Reliever
              .product-banner__title naproxen
              .product-banner__subheadline Pain Relieve/Fever Reducer
            .product-selector__group (NSAID)
        .product-slider__item
          img.product-slider__img(src="./assets/images/product-big-ibuprofen-softgels.png", alt="")
          .product-slider__banner
            .product-banner
              .product-banner__headline(style="background-color: #fff; color: #2999e2;") Extra Strength Pain Reliever
              .product-banner__title ibuprofen sofgels
              .product-banner__subheadline Pain Relieve/Fever Reducer
            .product-selector__group (NSAID)
        .product-slider__item
          img.product-slider__img(src="./assets/images/product-big-ibuprofen.png", alt="")
          .product-slider__banner
            .product-banner
              .product-banner__headline(style="background-color: #1f64a9; color: #e1e1e1;") Extra Strength Pain Reliever
              .product-banner__title ibuprofen
              .product-banner__subheadline Pain Relieve/Fever Reducer
            .product-selector__group (NSAID)

      .product-accordion
        ul.product-accordion__list
          li
            a.product-accordion__link(href="#", data-product-accordion-control) Overview
            .product-accordion__info(data-product-accordion-content)
              | b+b Acetaminophen works to reduce fever and the intensity of pain signals sent to the brain. It works by selectively inhibiting the production of prostaglandins, a natural chemical released into the body when you’re injured or sick causing nearby nerves to become sensitive to pain and making nearby tissue inflamed and swollen. As a result, b+b Acetaminophen is very effective in reducing fever and pain with minimal side effects.
          li
            a.product-accordion__link(href="#", data-product-accordion-control) Purpose
            .product-accordion__info(data-product-accordion-content)
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam aliquam doloremque corporis adipisci, commodi repudiandae, beatae reiciendis! Natus accusantium pariatur inventore, voluptate, consequatur assumenda sed sit, ducimus necessitatibus eius vero.
          li
            a.product-accordion__link(href="#", data-product-accordion-control) Ingredients
            .product-accordion__info(data-product-accordion-content)
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam aliquam doloremque corporis adipisci, commodi repudiandae, beatae reiciendis! Natus accusantium pariatur inventore, voluptate, consequatur assumenda sed sit, ducimus necessitatibus eius vero.
          li
            a.product-accordion__link(href="#", data-product-accordion-control) Dosing
            .product-accordion__info(data-product-accordion-content)
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam aliquam doloremque corporis adipisci, commodi repudiandae, beatae reiciendis! Natus accusantium pariatur inventore, voluptate, consequatur assumenda sed sit, ducimus necessitatibus eius vero.
          li
            a.product-accordion__link(href="#", data-product-accordion-control) PACKAGEs
            .product-accordion__info(data-product-accordion-content)
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam aliquam doloremque corporis adipisci, commodi repudiandae, beatae reiciendis! Natus accusantium pariatur inventore, voluptate, consequatur assumenda sed sit, ducimus necessitatibus eius vero.
          li
            a.product-accordion__link(href="#", data-product-accordion-control) FAQs
            .product-accordion__info.product-accordion__info--faqs(data-product-accordion-content)

              .product-filter.js-product-filter
                .product-filter__control
                  button.product-filter__btn
                    span SELECT FILTERS
                    i.icon.icon--filter
                .product-filter__content
                  .product-filter__close
                  form(action="#")
                    label.forms__radio(for="radio-mobile-1")
                      input.forms__radio-input(id="radio-mobile-1", name="radio", type="radio", checked="")
                      span.forms__radio-switcher
                      span.forms__radio-label All
                    label.forms__radio(for="radio-mobile-2")
                      input.forms__radio-input(id="radio-mobile-2", name="radio", type="radio")
                      span.forms__radio-switcher
                      span.forms__radio-label General FAQ's
                    label.forms__radio(for="radio-mobile-3")
                      input.forms__radio-input(id="radio-mobile-3", name="radio", type="radio")
                      span.forms__radio-switcher
                      span.forms__radio-label Safety & Usage
                    label.forms__radio(for="radio-mobile-4")
                      input.forms__radio-input(id="radio-mobile-4", name="radio", type="radio")
                      span.forms__radio-switcher
                      span.forms__radio-label Packagings
                    label.forms__radio(for="radio-mobile-5")
                      input.forms__radio-input(id="radio-mobile-5", name="radio", type="radio")
                      span.forms__radio-switcher
                      span.forms__radio-label Give Back Program

              .product-facts__faq
                ul.accordion.js-accordion
                  li.accordion__item
                    .accordion__control Are b+b Ibuprofen Softgels addictive?
                    .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                  li.accordion__item
                    .accordion__control Are b+b Ibuprofen Softgels an NSAID?
                    .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                  li.accordion__item
                    .accordion__control Are b+b Ibuprofen Softgels safe?
                    .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                  li.accordion__item
                    .accordion__control Can I drink alcohol while taking b+b Ibuprofen Softgels?
                    .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                  li.accordion__item
                    .accordion__control Can I take b+b Acetaminophen in between doses of my other pain relievers?
                    .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                  li.accordion__item
                    .accordion__control Can I take b+b Ibuprofen Softgels before or after surgery?
                    .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                  li.accordion__item
                    .accordion__control Can I take b+b Ibuprofen Softgels if I have a heart condition?
                    .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                  li.accordion__item
                    .accordion__control Can I take b+b Ibuprofen Softgels if I have diabetes?
                    .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                  li.accordion__item
                    .accordion__control Can I take b+b Ibuprofen Softgels if I have high blood pressure?
                    .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                  li.accordion__item
                    .accordion__control Can I take b+b Ibuprofen Softgels if I have liver disease?
                    .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                  li.accordion__item
                    .accordion__control Can I take b+b Ibuprofen Softgels in between doses of my other pain relievers?
                    .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!
                  li.accordion__item
                    .accordion__control Can I take b+b Ibuprofen Softgels while pregnant or nursing a child?
                    .accordion__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque unde iusto tenetur ullam magni natus laborum ad a saepe aut doloremque quas quibusdam quaerat dolore fugiat eveniet, tempore aperiam!



      .product-addition
        a.product-addition__hashtag(href="#")
          img(src="./assets/images/better-by-giving.png", alt="")
        .product-addition__donate
          | We donate one bottle for every bottle purchased to a family in need.&nbsp;
          a(href="#") GO
