.header {
  position: relative;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  z-index: 100;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 81px;
    padding: 0 28px;
    @media (min-width: 1024px) {
      height: 76px;
      padding: 0;
    }
  }
  &__logo {
    display: block;
    width: 100%;
    max-width: 113px;
    height: 100%;
    background-image: url(../assets/images/logo.png);
    background-repeat: no-repeat;
    background-position: 50%;
    @media (min-width: 1024px) {
      max-width: 83px;
      background-size: 83px;
    }
  }
  &__burger {
    display: block;
    width: 70px;
    height: 81px;
    @media (min-width: 1024px) {
      display: none;
    }
  }
  .fb-like--mobile {
    margin-left: auto;
    margin-right: 50px;
    @media (min-width: 1024px) {
      display: none;
    }
  }
}
