.header
  .container.header__wrapper
    a.header__logo(href="/")

    include ../top-nav/top-nav.pug

    .fb-like.fb-like--mobile(data-href="http://bbcompany.com", data-layout="button_count", data-action="like", data-size="large", data-show-faces="false", data-share="false")

    a.header__burger.js-menu-open(href="javascript:void(0)")
      i.icon.icon--burger

  include ../mobile-nav/mobile-nav.pug
