.block.retailer
  #retailer-map

  .retailer__wrapper
    h2.h2 WHERE TO BUY
    h3.h3 Find us a retailer near you!

    .retailer__search
      form(action="#")
        .forms__field
          input.forms__input(type="text", placeholder="Type your location ")
          button.forms__btn(type="submit") SEARCH

  .retailer__logos
    .container
      .retailer__logo-wrapper
        a(href="javascript:void(0)")
          img(src="./assets/images/logo-vitamin-shoppe.png", alt="")
        a(href="javascript:void(0)")
          img(src="./assets/images/logo-walmart.png", alt="")
        a(href="javascript:void(0)")
          img(src="./assets/images/logo-target.png", alt="")
        a(href="javascript:void(0)")
          img(src="./assets/images/logo-walgreens.png", alt="")
        a(href="javascript:void(0)")
          img(src="./assets/images/logo-heb.png", alt="")
        a(href="javascript:void(0)")
          img(src="./assets/images/logo-cvs.png", alt="")
        a(href="javascript:void(0)")
          img(src="./assets/images/logo-sam-s-club.png", alt="")
