.retailer {
  position: relative;
  min-height: 508px;
  @media (min-width: 1024px) {
    min-height: 600px;
  }
  #retailer-map {
    position: absolute !important;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  &__wrapper {
    position: relative;
    text-align: center;
    pointer-events: none;
  }
  &__search {
    margin-top: 57px;
    pointer-events: auto;
    @media (min-width: 1024px) {
      margin-top: 75px;
    }
  }
  &__logos {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(#fff, 0.75);
    @media (max-width: 1023px) {
      display: none;
    }
  }
  &__logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
  }
}
