.footer {
  padding-bottom: 43px;
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    flex-grow: 1;
  }
  &__nav {
    display: flex;
    justify-content: space-around;
    @media (min-width: 1024px) {
      justify-content: space-between;
      padding-right: 50px;
    }
    a {
      display: block;
      padding: 9px 0;
      font-size: 18px;
      font-weight: 300;
    }
  }
  &__nav-list {
    max-width: 205px;
  }
  &__subscribe {
    margin-top: 48px;
    margin-bottom: 78px;
  }
  &__header {
    padding-bottom: 42px;
    color: #000;
    font-size: 21px;
    font-weight: 900;
  }
  &__social {
    @media (min-width: 1024px) {
      flex-basis: 261px;
    }
  }
  &__social-btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
    @media (max-width: 1023px) {
      width: 442px;
    }
  }
  &__hashtag {
    display: block;
    margin-bottom: 88px;
    img {
      width: auto;
      @media (min-width: 1024px) {
        width: 257px;
      }
    }
  }
  &__copyright {
    color: #737373;
    font-size: 22px;
    font-weight: 400;
    @media (min-width: 1024px) {
      display: none;
    }
    .footer__subscribe & {
      display: none;
      margin-top: 80px;
      @media (min-width: 1024px) {
        display: block;
      }
    }
  }
}
