.container.block
  .footer
    .footer__left
      .footer__nav
        ul.footer__nav-list
          li.footer__header Product
          li
            a(href="") Pain Relief Center
          li
            a(href="") Naproxen Sodium 
          li
            a(href="") Ibuprofen Softgel 
          li
            a(href="") Dye Free Ibuprofen 
          li
            a(href="") Acetaminophen
        ul.footer__nav-list
          li.footer__header Company
          li
            a(href="") Our mission
          li
            a(href="") Where to buy
          li
            a(href="") Contact 
          li
            a(href="") Press kit
          li
            a(href="") Blog
          li
            a(href="") Terms & conditions
          li
            a(href="") Privacy policy
        ul.footer__nav-list
          li.footer__header FAQs
          li
            a(href="") Symptoms, Treatments & Dosage
          li
            a(href="") Ingredients
          li
            a(href="") Naproxen Sodium FAQs
          li
            a(href="") Ibuprofen Softgel FAQs
          li
            a(href="") Dye Free Ibuprofen FAQs
          li
            a(href="") Acetaminophen FAQs
          li
            a(href="") b+b packaging
          li
            a(href="") General Information

      .footer__subscribe
        .footer__header Subscribe
        form(action="#")
          .forms__field
            input.forms__input(type="text", placeholder="Type your email")
            button.forms__btn(type="submit") SUBSCRIBE
        .footer__copyright © lorem ipsum dolor sit amet consectetur adipiscing elit

    .footer__social
      .footer__header Follow Us
      .footer__social-btns
        a(href="#")
          i.icon.icon--tw
        a(href="#")
          i.icon.icon--fb
        a(href="#")
          i.icon.icon--yt
        a(href="#")
          i.icon.icon--ig
      a.footer__hashtag(href="#")
        img(src="./assets/images/better-by-giving.png", alt="")
      .footer__copyright © lorem ipsum dolor sit amet consectetur adipiscing elit
