.mission-slider.js-mission-slider
  .mission-slider__item
    img(src="./assets/images/mission-slide-1.jpg", alt="")
  .mission-slider__item
    img(src="./assets/images/mission-slide-1.jpg", alt="")
  .mission-slider__item
    img(src="./assets/images/mission-slide-1.jpg", alt="")

.container
  .breadcrumbs
    a.breadcrumbs__item(href="#") Company
    i.icon.icon--blue-right-arrow
    span.breadcrumbs__item.breadcrumbs__item--active Our Mission


  .mission-content--desktop
    ul.product-facts__list
      li
        a.product-facts__link.product-facts__link--active(href="#") OUR MISSION
      li
        a.product-facts__link(href="#") CONTACT US
      li
        a.product-facts__link(href="#") PRESS KIT
      li
        a.product-facts__link(href="#") GENERAL INFORMATION
      li
        a.product-facts__link(href="#") TERMS AND CONDITIONS
      li
        a.product-facts__link(href="#") PRIVACY POLICY
    .product-facts__desc
      .product-facts__info
        .product-facts__txt
          .mission-heart
            .mission-heart__txt Two hearts coming together for positive change. <br /> We are better by giving.

          p b+b is a family owned health and wellness company founded on the principle of one-for-one giving to others.
          p We set out to create the "better” pain relief company.

          ul.heart-list
            li.heart-list__item Better by providing design friendly, innovative, and easy-to-use packaging;
            li.heart-list__item Better by providing dye free options;
            li.heart-list__item Better by saying no to excess packaging boxes;
            li.heart-list__item Better by giving. For every product purchased, we will donate a product to a person in need through our national partnership with Americares.

          p And better by doing all of this while still providing the same pain relief medicines that you know and love at a price that is the same or less.
          p As the old saying goes, it is in giving that we receive.
          p Is our sincerely,

          .mission-signature
            div
              img(src="./assets/images/signature-tony.png", alt="")
              p Tony Breeden<br/>President
            div
              img(src="./assets/images/signature-joshua.png", alt="")
              p Joshua Breeden<br/>VP Sales


  .mission-content--mobile
    .product-accordion
      ul.product-accordion__list
        li
          a.product-accordion__link.product-accordion__link--active(href="#") OUR MISSION
          .product-accordion__info.product-accordion__info--active

            .mission-heart
              .mission-heart__txt Two hearts coming together for positive change. <br /> We are better by giving.
            p b+b is a family owned health and wellness company founded on the principle of one-for-one giving to others.
            p We set out to create the "better” pain relief company.

            ul.heart-list
              li.heart-list__item Better by providing design friendly, innovative, and easy-to-use packaging;
              li.heart-list__item Better by providing dye free options;
              li.heart-list__item Better by saying no to excess packaging boxes;
              li.heart-list__item Better by giving. For every product purchased, we will donate a product to a person in need through our national partnership with Americares.

            p And better by doing all of this while still providing the same pain relief medicines that you know and love at a price that is the same or less.
            p As the old saying goes, it is in giving that we receive.
            p Is our sincerely,

            .mission-signature
              div
                img(src="./assets/images/signature-tony.png", alt="")
                p Tony Breeden<br/>President
              div
                img(src="./assets/images/signature-joshua.png", alt="")
                p Joshua Breeden<br/>VP Sales

        li
          a.product-accordion__link(href="#") CONTACT US
        li
          a.product-accordion__link(href="#") PRESS KIT
        li
          a.product-accordion__link(href="#") GENERAL INFORMATION
        li
          a.product-accordion__link(href="#") TERMS AND CONDITIONS
        li
          a.product-accordion__link(href="#") PRIVACY POLICY
