.mission-slider {
  opacity: 0;
  background-color: #e1e1e1;
  touch-action: manipulation;
  &__item {
    width: 100%;
  }
}


.breadcrumbs {
  padding-top: 35px;
  @media (max-width: 1023px) {
    padding: 35px 40px 0;
  }
  &__item {
    color: #a3a3a3;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    transition: color $mid;
    &:hover {
      color: #000;
    }
    &--active {
      color: #a3a3a3;
      font-weight: 800;
      &:hover {
        color: #a3a3a3;
      }
    }

  }
  .icon {
    margin-left: 4px;
    margin-right: 2px;
  }
}


.mission-content--desktop {
  display: flex;
  margin-top: 50px;
  @media (max-width: 1023px) {
    display: none;
  }
  .product-facts__list {
    margin-top: 0;
  }
  .product-facts__txt {
    margin-top: 8px;
    color: #555;
    font-size: 22px;
    line-height: 36px;
  }

  .product-facts__desc {
    margin-top: 15px;
    margin-bottom: 50px;
    min-height: 300px;
  }
}

.mission-content--mobile {
  //padding: 0 40px;
  margin-top: 30px;
  @media (min-width: 1024px) {
    display: none;
  }

  .mission-heart {
    &__txt {
      font-size: 18px;
    }
  }
}

.mission-signature {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 22px;
  line-height: 26px;
  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 23px;
  }
  > div {
    display: inline-block;
    &:nth-of-type(1) {
      margin-right: 120px;
    }
  }
  img {
    display: inline-block;
    width: auto;
  }
}


.mission-heart {
  position: relative;
  margin-bottom: 35px;
  border-radius: 36px;
  border: 3px solid #00adee;
  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: -3px;
    width: 50px;
    height: 96px;
    background-color: #fff;
  }
  &::after {
    position: absolute;
    content: "";
    bottom: -3px;
    left: -3px;
    width: 73px;
    height: 100%;
    background-color: #fff;
  }
  &--big::before {
    height: 53px;
  }
  &--big::after {
    display: none;
  }
  &__txt {
    position: relative;
    padding: 9px 38px 9px 115px;
    color: #555;
    font-size: 23px;
    font-weight: 500;
    line-height: 36px;
    &::before {
      position: absolute;
      content: "";
      top: -3px;
      left: -5px;
      width: 96px;
      height: 96px;
      background-image: url(../assets/images/icons/icon-two-heart.png);
      z-index: 1;
    }
    .mission-heart--big & {
      padding-top: 40px;
      padding-bottom: 32px;
      font-size: 23px;
    }
    img {
      position: relative;
      display: inline-block;
      width: auto;
      height: 23px;
      vertical-align: middle;
      @media (min-width: 1024px) {
        top: -5px;
        margin-left: 12px;
      }
    }
  }
  &__title {
    color: #000;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
  }
}
