.block.container
  .pain
    h2.h2 Pain Relief Center
    h3.h3 Find out which pain medication is&nbsp;right&nbsp;for&nbsp;you


    .pain__instructions.js-pain-instructions
      .pain__info.js-pain-info
        .pain__header ARE YOU IN PAIN?
        .pain__content
          .pain__manual We can help! Click on our interactive pain points to learn how to find relief.
          p Lorem ipsum dolor sit amet, adipiscing elit. Aliquam iaculis, dui non efficitur elementum, mauris neque consectetur enim, at sollicitudin nisi odio.
      - var blocks = ["Fever", "Headache Relief", "Earache", "Sinusitis", "Toothache", "Cold and Flu", "Backache", "Menstrual", "Arthritis", "Hangover"]
      each block in blocks
        .pain__block(data-pain-content)
          a.pain__back(href="#", data-pain-close)
            span BACK
          .pain__header= block
          .pain__content
            .pain__symptom Have a headache and you can’t think?
            .pain__subheader
              span recomMended product
            ul.pain__recommends
              li
                .pain__recommend-img
                  img(src="./assets/images/products-ibuprofen.png", alt="")
                  span Napproxen
                .pain__recommends-icons
                  .pain__recommends-icon NSAID
                  .pain__recommends-icon
                    i.icon.icon--heart
                  .pain__recommends-icon
                    i.icon.icon--time
              li
                .pain__recommend-img
                  img(src="./assets/images/products-naproxen.png", alt="")
                  span IBUPROFEN
                .pain__recommends-icons
                  .pain__recommends-icon NSAID
                  .pain__recommends-icon
                    i.icon.icon--star
            .pain__subheader
              span DOSAGE
            p Lorem ipsum dolor sit amet, conse te tur adipiscing elit.
            .pain__subheader
              span WARNINGS
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non tellus ex. Nunc elementum est pharetra interdum iaculis. Nullam augue ligula, viverra vitae erat non, aliquam.&nbsp;
              a.pain__readmore(href="#") read more


    .pain__body
      a.pain__point(href="#", data-pain-control)
        .pain__point-img
        span Fever
      a.pain__point(href="#", data-pain-control)
        .pain__point-img
        span Headache
      a.pain__point(href="#", data-pain-control)
        .pain__point-img
        span Earache
      a.pain__point(href="#", data-pain-control)
        .pain__point-img
        span Sinusitis
      a.pain__point(href="#", data-pain-control)
        .pain__point-img
        span Toothache
      a.pain__point(href="#", data-pain-control)
        .pain__point-img
        span Cold and Flu
      a.pain__point(href="#", data-pain-control)
        .pain__point-img
        span Backache
      a.pain__point(href="#", data-pain-control)
        .pain__point-img
        span Menstrual
      a.pain__point(href="#", data-pain-control)
        .pain__point-img
        span Arthritis
      a.pain__point(href="#", data-pain-control)
        span Hangover
        .pain__point-img
