.pain {
  position: relative;
  @media (max-width: 1023px) {
    max-width: 650px;
    height: 1200px;
    margin: 0 auto;
  }
  @media (min-width: 1024px) {
    height: 1030px;
  }

  &__body {
    position: absolute;
    background-image: url(../assets/images/pain-body.png);
    @media (max-width: 1023px) {
      left: 50%;
      width: 560px;
      height: 775px;
      margin-top: 78px;
      margin-left: -280px;
      background-size: 560px 775px;
    }
    @media (min-width: 1024px) {
      right: 0;
      width: 441px;
      height: 675px;
      margin-top: 90px;
      background-size: 441px 675px;
    }
  }

  &__instructions {
    background-color: #fff;
    z-index: 100;
    @media (max-width: 1023px) {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 20px;
    }
    @media (min-width: 1024px) {
      position: absolute;
      left: 0;
      width: 510px;
      margin-top: 50px;
    }
  }


  // body
  &__points {
    @include absolute-center;
  }
  &__point {
    position: absolute;
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      width: calc(100% - 42px);
      margin-top: -1px;
      border-bottom: 2px dotted #999;
    }
    &:hover span {
      color: #000;
    }
    img {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
    span {
      position: relative;
      margin-left: 200px;
      padding: 4px 11px;
      color: #6a6a6a;
      background-color: #fff;
      font-size: 27px;
      font-weight: 500;
      vertical-align: middle;
      transition: color $mid;
      z-index: 1;
      @media (min-width: 1024px) {
        margin-left: 150px;
        font-size: 21px;
      }
    }
    &--active {
      &::after {
        border-bottom: 2px dotted #000;
      }
      span {
        color: #fff;
        background-color: black;
        border-radius: 40px;
        padding: 4px 11px;
      }
      &:hover span {
        color: #fff;
      }
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(8) {
      left: 142px;
      @media (min-width: 1024px) {
        left: 109px;
      }
    }
    &:nth-child(2) {
      top: 46px;
      @media (min-width: 1024px) {
        top: 39px;
      }
    }
    &:nth-child(3) {
      left: 248px;
      top: 92px;
      @media (min-width: 1024px) {
        left: 207px;
        top: 78px;
      }
      span {
        margin-left: 93px;
        @media (min-width: 1024px) {
          margin-left: 52px;
        }
      }
    }
    &:nth-child(4) {
      top: 138px;
      @media (min-width: 1024px) {
        top: 117px;
      }
    }
    &:nth-child(5) {
      top: 184px;
      @media (min-width: 1024px) {
        top: 156px;
      }
    }
    &:nth-child(6) {
      top: 300px;
      @media (min-width: 1024px) {
        top: 265px;
      }
    }
    &:nth-child(7) {
      left: 128px;
      top: 400px;
      @media (min-width: 1024px) {
        left: 87px;
        top: 351px;
      }
      .pain__point-img {
        opacity: 0.4;
      }
      span {
        margin-left: 213px;
        @media (min-width: 1024px) {
          margin-left: 171px;
        }
      }
    }
    &:nth-child(8) {
      top: 450px;
      @media (min-width: 1024px) {
        top: 390px;
      }
    }
    &:nth-child(9) {
      left: 188px;
      top: 575px;
      @media (min-width: 1024px) {
        left: 141px;
        top: 510px;
      }
      span {
        margin-left: 153px;
        @media (min-width: 1024px) {
          margin-left: 119px;
        }
      }
    }
    &:nth-child(10) {
      left: 378px;
      top: 630px;
      @media (min-width: 1024px) {
        left: 294px;
        top: 560px;
      }
      &::after {
        top: 32px;
        left: 19px;
        right: auto;
        height: 34px;
        border-bottom: 0;
        border-left: 2px dotted #999;
      }
      span {
        display: block;
        margin-left: 0;
        margin-bottom: 46px;
      }
    }
  }
  &__point-img {
    display: inline-block;
    width: 39px;
    height: 39px;
    vertical-align: middle;
    background-image: url(../assets/images/circle.png);
    background-repeat: no-repeat;
    background-position: 50%;
    .pain__point--active & {
      background-image: url(../assets/images/circle-big.png);
    }
  }


  // instructions
  &__info {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    @media (max-width: 1023px) {
      display: none;
    }
  }
  &__block {
    display: none;
  }
  &__back {
    display: inline-block;
    position: relative;
    padding: 10px 21px;
    margin-bottom: 30px;
    color: #565656;
    font-size: 45px;
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase;
    @media (min-width: 1024px) {
      margin-bottom: 10px;
      padding: 0 21px;
      font-size: 22px;
    }
    &::before {
      position: absolute;
      content: "<";
      top: 17px;
      left: 0;
      font-size: 27px;
      font-weight: 900;
      text-decoration: none;
      @media (min-width: 1024px) {
        top: 2px;
        left: 5px;
        font-size: 18px;
      }
    }
  }
  &__header {
    position: relative;
    height: 89px;
    padding: 0 30px;
    color: #fff;
    background-color: #00adee;
    font-family: $serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 98px;
    text-transform: uppercase;
    border-radius: 45px;
    @media (min-width: 1024px) {
      height: 60px;
      font-size: 48px;
      line-height: 68px;
      border-radius: 37px;
    }
    &::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      right: 34px;
      width: 94px;
      background-image: url(../assets/images/logo-white.png);
      background-repeat: no-repeat;
      background-position: 90% 50%;
      @media (min-width: 1024px) {
        background-size: 65px 31px;
      }
    }
  }
  &__content {
    padding: 0 30px;
    color: #000;
    font-size: 36px;
    font-weight: 300;
    line-height: 45px;
    @media (min-width: 1024px) {
      font-size: 22px;
      line-height: 30px;
    }
  }
  &__manual {
    margin: 50px 0;
    padding: 20px 10px 20px 135px;
    font-weight: 400;
    background-image: url(../assets/images/pain-hand.png);
    background-repeat: no-repeat;
    @media (min-width: 1024px) {
      padding: 0 10px 0 135px;
    }
  }
  &__symptom {
    padding: 22px 0;
  }
  &__subheader {
    position: relative;
    margin: 14px 0;
    color: #000;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    @media (min-width: 1024px) {
      font-size: 24px;
    }
    &::after {
      position: absolute;
      content: "";
      top: 20px;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: #b3b3b3;
      z-index: -1;
      @media (min-width: 1024px) {
        top: 17px;
      }
    }
    span {
      padding-right: 10px;
      background-color: #fff;
    }
  }
  &__recommends {
    margin: 30px 0;
    line-height: 30px;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 12px 0;
      span {
        color: #000;
        font-size: 22px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }
  }
  &__recommend-img {
    position: relative;
    display: flex;
    align-items: center;
    height: 55px;
    padding-left: 80px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 105px;
      margin-left: -16px;
    }
  }
  &__recommends-icons {
    display: flex;
    align-items: center;
  }
  &__recommends-icon {
    height: 29px;
    padding: 0 8px;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    &:not(:last-child) {
      border-right: 1px solid #000;
    }
  }
  &__readmore {
    font-size: 28px;
    color: #555;
    font-weight: 500;
    text-decoration: underline;
    text-transform: uppercase;
    @media (min-width: 1024px) {
      font-size: 20px;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
