.news {
  &__wrapper {
    padding: 87px 40px 0;
    @media (min-width: 1024px) {
      display: flex;
      padding: 87px 0;
    }
  }
  &__list {
    @media (min-width: 1024px) {
      width: 66.6%;
      padding-right: 13px;
    }
  }
  &__sidebar {
    margin-top: 80px;
    @media (min-width: 1024px) {
      width: 33.4%;
      margin-top: 0;
      padding-left: 13px;
    }
  }
}


.news-list {
  &__img {
    > a {
      display: block;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  &__video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    display: flex;
    padding: 38px 0 18px;
  }
  &__cat {
    color: #00adee;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__date {
    margin-left: auto;
    color: #6a6a6a;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__body {
    margin-bottom: 49px;
    padding: 0 0 46px;
    @media (min-width: 1024px) {
      border-bottom: 1px solid #bfbfbf;
    }
    p {
      font-size: 26px;
      font-weight: 300;
      line-height: 36px;
    }
  }
  &__title {
    display: block;
    padding: 10px 0 20px;
    h2 {
      text-align: left;
    }
  }
}


.news-sidebar {
  &__item {
    padding-bottom: 60px;
    .h4 {
      margin-bottom: 10px;
    }
    p {
      font-size: 18px;
      line-height: 28px;
    }
    .product-selector__donate {
      font-size: 18px;
      line-height: 31px;
      a {
        font-size: 20px;
      }
    }
    .product-facts__list {
      margin-top: 0;
    }
    .product-facts__link {
      width: 100%;
      text-transform: none;
    }
    .tags {
      margin-top: 25px;
    }
  }
  &__hashtag {
    display: block;
    margin: 25px 0;
  }
  &__social {
    padding-top: 20px;
    a {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    .icon {
      background-size: 20px;
    }
  }
}
