doctype html
html
  include ./components/head/head.pug
  body
    .wrapper
      include ./components/header/header.pug

      .error
        .error__body
          img(src="./assets/images/error-404.png", alt="")
          .error__msg Oops! SORRY, we could not find the page 
          a.btn.btn--sec(href="/") go to home


  script(src='./js/vendor/jquery-3.1.0.min.js')
  script(src='./js/vendor/flickity.pkgd.min.js')
  script(src='./js/main.js')
