extends ./index.pug

block content

  .mission-slider.js-mission-slider
    .mission-slider__item
      img(src="./assets/images/mission-slide-1.jpg", alt="")
    .mission-slider__item
      img(src="./assets/images/mission-slide-1.jpg", alt="")
    .mission-slider__item
      img(src="./assets/images/mission-slide-1.jpg", alt="")

  .container
    .breadcrumbs
      a.breadcrumbs__item(href="#") Company
      i.icon.icon--blue-right-arrow
      span.breadcrumbs__item.breadcrumbs__item--active Our Mission


    .mission-content--desktop
      ul.product-facts__list
        li
          a.product-facts__link.product-facts__link--active(href="#") OUR MISSION
        li
          a.product-facts__link(href="#") CONTACT US
        li
          a.product-facts__link(href="#") PRESS KIT
        li
          a.product-facts__link(href="#") GENERAL INFORMATION
        li
          a.product-facts__link(href="#") TERMS AND CONDITIONS
        li
          a.product-facts__link(href="#") PRIVACY POLICY
      .product-facts__desc
        .product-facts__info
          .product-facts__txt
            .mission-heart.mission-heart--big
              .mission-heart__txt
                .mission-heart__title A BELIEF IN BETTER
                p
                  | For every product purchased, b+b will donate a product to a person in need through our national partnership with
                  img(src="./assets/images/logo-americares.png", alt="")

            p Americares is the nation’s leading provider of donated medicine, last year <strong>donating more than $200 million in aid</strong> to US health care safety net providers in all 50 states and Puerto Rico.  These providers include free and charitable clinics, federally qualified health centers, rural health clinics, and nonprofit hospitals.

            ul.heart-list
              li.heart-list__item.heart-list__item--clear b+b will work with Americares to provide b+b donated medicines to its network of 1000 clinics and health centers serving 5 million patients in need.

            p To ensure <strong>transparency and compliance</strong>, the terms of this partnership are filed in the required states and overseen by the attorney generals of those states.
            p In times of natural disaster, such as hurricanes, tornadoes, floods, earthquakes, and wildfires, b+b will work with Americares to provide b+b donated medicines to the coordinated relief efforts.

            ul.heart-list
              li.heart-list__item.heart-list__item--clear
                p By purchasing a b+b product, you are directly helping those affected by:
                p <strong>Homelessness + Natural disasters + Extreme poverty</strong>
                p We thank you for trusting us to deliver your donation and for helping us to usher in a new level of corporate responsibility to those less fortunate.

            p
              | More information on Americares available&nbsp;
              a(href="http://www.americares.org/") here
              | .
              br
              | FAQs on the Give Back Program available&nbsp;
              a(href="#") here
              | .
              br
              | Terms of commercial co-venture with Americares available&nbsp;
              a(href="http://bbcompany.com/page/americares-terms-of-commercial-co-venture") here
              | .


    .mission-content--mobile
      .product-accordion
        ul.product-accordion__list
          li
            a.product-accordion__link.product-accordion__link--active(href="#") OUR MISSION
            .product-accordion__info.product-accordion__info--active

              .mission-heart.mission-heart--big
                .mission-heart__txt
                  .mission-heart__title A BELIEF IN BETTER
                  p
                    | For every product purchased, b+b will donate a product to a person in need through our national partnership with
                    img(src="./assets/images/logo-americares.png", alt="")

              p Americares is the nation’s leading provider of donated medicine, last year <strong>donating more than $200 million in aid</strong> to US health care safety net providers in all 50 states and Puerto Rico.  These providers include free and charitable clinics, federally qualified health centers, rural health clinics, and nonprofit hospitals.

              ul.heart-list
                li.heart-list__item.heart-list__item--clear b+b will work with Americares to provide b+b donated medicines to its network of 1000 clinics and health centers serving 5 million patients in need.

              p To ensure <strong>transparency and compliance</strong>, the terms of this partnership are filed in the required states and overseen by the attorney generals of those states.
              p In times of natural disaster, such as hurricanes, tornadoes, floods, earthquakes, and wildfires, b+b will work with Americares to provide b+b donated medicines to the coordinated relief efforts.

              ul.heart-list
                li.heart-list__item.heart-list__item--clear
                  p By purchasing a b+b product, you are directly helping those affected by:
                  p <strong>Homelessness + Natural disasters + Extreme poverty</strong>
                  p We thank you for trusting us to deliver your donation and for helping us to usher in a new level of corporate responsibility to those less fortunate.

              p
                | More information on Americares available&nbsp;
                a(href="http://www.americares.org/") here
                | .
                br
                | FAQs on the Give Back Program available&nbsp;
                a(href="#") here
                | .
                br
                | Terms of commercial co-venture with Americares available&nbsp;
                a(href="http://bbcompany.com/page/americares-terms-of-commercial-co-venture") here
                | .

          li
            a.product-accordion__link(href="#") CONTACT US
          li
            a.product-accordion__link(href="#") PRESS KIT
          li
            a.product-accordion__link(href="#") GENERAL INFORMATION
          li
            a.product-accordion__link(href="#") TERMS AND CONDITIONS
          li
            a.product-accordion__link(href="#") PRIVACY POLICY






  include ./components/retailer/retailer.pug
  include ./components/founders/founders.pug
