doctype html
html
  include ./components/head/head.pug
  body
    .wrapper
      include ./components/header/header.pug
      block content

        include ./components/main/main.pug








      include ./components/footer/footer.pug


  script(src='./js/vendor/jquery-3.1.0.min.js')
  script(src='./js/vendor/flickity.pkgd.min.js')
  script(src='./js/main.js')

  script.
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('retailer-map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8,
        scrollwheel: false,
        draggable: true
      });
    }
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7xbtxmGPj_RDB0SwFlslV2_18smZ-zNE&callback=initMap", async, defer)
