extends ./index.pug

block content
  .container
    .news
      .news__wrapper
        .news__list

          .news-list
            .news-list__item
              .news-list__img
                a(href="#")
                  img(src="./assets/images/news-image-00.jpg", alt="")
              .news-list__info
                a.news-list__cat(href="#") CATEGORY
                .news-list__date sat 06 aug 2016
              .news-list__body
                a.news-list__title(href="#")
                  h2.h2 Blog Post
                p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse Kickstarter seitan retro. Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo biodiesel Neutra selfies. Shorts fixie consequat flexitarian four loko.

            .news-list__item
              .news-list__video
                iframe(src="https://www.youtube.com/embed/B08iLAtS3AQ", frameborder="0", allowfullscreen)
              .news-list__info
                a.news-list__cat(href="#") CATEGORY
                .news-list__date sat 06 aug 2016
              .news-list__body
                a.news-list__title(href="#")
                  h2.h2 Video Post
                p Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse Kickstarter seitan retro. Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo biodiesel Neutra selfies. Shorts fixie consequat flexitarian four loko.

          include ./components/paginator/paginator.pug


        .news__sidebar
          .news-sidebar__item
            h4.h4 About
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat.
            a.news-sidebar__hashtag(href="#")
              img(src="./assets/images/better-by-giving.png", alt="")
            .product-selector__donate
              | We donate one bottle for every bottle purchased to a family in need.&nbsp;
              a(href="#") read more

          .news-sidebar__item
            h4.h4 Categories

            ul.product-facts__list
              li
                a.product-facts__link.product-facts__link--active(href="#") Travel
              li
                a.product-facts__link(href="#") Lifestyle
              li
                a.product-facts__link(href="#") Wander
              li
                a.product-facts__link(href="#") Graphics
              li
                a.product-facts__link(href="#") Other Bits

          .news-sidebar__item
            h4.h4 Tags
            include ./components/tags/tags.pug

          .news-sidebar__item
            h4.h4 Follow Us
            .news-sidebar__social
              a(href="#")
                i.icon.icon--tw
              a(href="#")
                i.icon.icon--fb
              a(href="#")
                i.icon.icon--yt
              a(href="#")
                i.icon.icon--ig


  include ./components/founders/founders.pug
