extends ./index.pug

block content

  include ./components/product/product.pug

  include ./components/pain/pain.pug
  include ./components/retailer/retailer.pug
  include ./components/founders/founders.pug
  include ./components/main-mission/main-mission.pug

