extends ./index.pug

block content
  .locator
    #retailer-map

    .locator__controls
      .locator-search
        a.locator-search__btn.js-search-open(href="#")
          i.icon.icon--search
        form(action="#")
          .forms__field.js-search
            input.forms__input.js-search-input(type="text", placeholder="Type your location ")
            button.forms__btn(type="submit") SEARCH
      .locator__zoom
        a.btn.btn--plus(href="#")
        a.btn.btn--minus(href="#")
      .locator__result
        a.btn.btn--results.js-locator-results-btn(href="#")

    .locator-results.js-locator-results
      a.locator-results__min.js-locator-results-btn(href="#")
        i.icon.icon--min
      .locator-results__title RESULTS
      .locator-results__body
        ol.locator-results__list
          each _ in Array(8)
            li.locator-results__item
              a.locator-results__link(href="#")
                .locator-results__name Walmart Supercenter
                .locator-results__contacts 1200 MORRIS TURNPIKE
                .locator-results__contacts SHORT HILLS NJ
                .locator-results__contacts +1 973-379-5085

    .locator-pin
      img(src="./assets/images/icons/icon-locator-pin.png", alt="")
      .locator-label
        .locator-label__name Walmart Supercenter
        .locator-label__contacts 1200 MORRIS TURNPIKE
        .locator-label__contacts SHORT HILLS NJ
        .locator-label__contacts +1 973-379-5085



    .retailer__logos
      .container
        .retailer__logo-wrapper
          a(href="javascript:void(0)")
            img(src="./assets/images/logo-vitamin-shoppe.png", alt="")
          a(href="javascript:void(0)")
            img(src="./assets/images/logo-walmart.png", alt="")
          a(href="javascript:void(0)")
            img(src="./assets/images/logo-target.png", alt="")
          a(href="javascript:void(0)")
            img(src="./assets/images/logo-walgreens.png", alt="")
          a(href="javascript:void(0)")
            img(src="./assets/images/logo-heb.png", alt="")
          a(href="javascript:void(0)")
            img(src="./assets/images/logo-cvs.png", alt="")
          a(href="javascript:void(0)")
            img(src="./assets/images/logo-sam-s-club.png", alt="")


  include ./components/founders/founders.pug


