.btn {
  display: inline-block;
  vertical-align: middle;
  font-family: $sans-serif;
  text-align: center;
  white-space: nowrap;
  border: 0 none;
  user-select: none;
  cursor: pointer;
  transition: all $mid;

  &--default {
    width: 264px;
    height: 73px;
    color: #565656;
    font-size: 23px;
    font-weight: 700;
    line-height: 73px;
    text-transform: uppercase;
    border: 1px solid #bf0411;
    border-radius: 37px;
    @media (min-width: 1024px) {
      width: 100%;
      max-width: 190px;
      height: 43px;
      font-size: 16px;
      line-height: 43px;
      border-radius: 23px;
    }
    &:hover,
    &.btn--active {
      color: $white;
      background-color: #b5231c;
    }
  }
  &--sec {
    height: 52px;
    padding: 0 25px;
    color: #fff;
    background-color: #d31e15;
    font-size: 13px;
    font-weight: bold;
    line-height: 52px;
    text-transform: uppercase;
    border: 1px solid #d31e15;
    border-radius: 26px;
    &:hover {
      color: #d31e15;
      background-color: #fff;
    }
  }
  &--plus,
  &--minus {
    position: relative;
    width: 39px;
    height: 39px;
    border-radius: 19px;
    background-color: #2b5f9f;
    &:hover {
      background-color: rgba(#2b5f9f, 0.9);
    }
    &::before {
      position: absolute;
      content: "";
      top: 17px;
      left: 10px;
      width: 18px;
      height: 4px;
      border-radius: 2px;
      background-color: #fff;
    }
  }
  &--plus::after {
    position: absolute;
    content: "";
    top: 10px;
    left: 17px;
    width: 4px;
    height: 18px;
    border-radius: 2px;
    background-color: #fff;
  }
  &--results {
    width: 52px;
    height: 52px;
    border-radius: 26px;
    background-color: #2b5f9f;
    background-image: url(../assets/images/icons/icon-results.png);
    background-size: 25px 23px;
    background-repeat: no-repeat;
    background-position: 50%;
    &:hover {
      background-color: rgba(#2b5f9f, 0.9);
    }
  }



}
