/* Common Styles
----------------------------------------------------------------------------- */
html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  color: $black;
  font-family: $sans-serif;
  font-weight: 400;
}

*, *:focus {
  outline: none;
}
*::-moz-focus-inner {
  border: 0 none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: $black;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  overflow: hidden;
  resize: none;
}

hr {
  display: block;
  width: 100%;
  height: 7px;
  margin: 0;
  border: 0 none;
  background-image: url(../assets/images/textured-line.png);
}

.wrapper {
  position: relative;
  min-width: 667px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

.block {
  padding: 90px 40px 0;
  @media (min-width: 1024px) {
    padding: 130px 0 0;
  }
  &--gray {
    background-color: #f6f6f6;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($black, 0.7);
  z-index: 99;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.h2 {
  margin: 0;
  color: #000;
  font-family: $serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: 1024px) {
    font-size: 70px;
    line-height: 58px;
  }
  &--white {
    color: #fff;
  }
  &--nowrap {
    white-space: nowrap;
  }
}
.h3 {
  margin: 0;
  color: #6a6a6a;
  font-family: $serif;
  font-size: 46px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  @media (min-width: 1024px) {
    font-size: 50px;
    line-height: 50px;
  }
}
.h2 + .h3 {
  margin-top: 20px;
  @media (min-width: 1024px) {
    margin-top: 34px;
  }
}
.h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 76px);
  background-color: #f8f8f8;
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    img {
      width: auto;
    }
  }
  &__msg {
    margin: 55px 0;
    font-family: $serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
