@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  src: local("Nunito Light"), local("Nunito-Light"),
    url("../assets/fonts/nunito-v8-latin-300.woff2") format("woff2"),
    url("../assets/fonts/nunito-v8-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), local("Nunito-Regular"),
    url("../assets/fonts/nunito-v8-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/nunito-v8-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Bold"), local("Nunito-Bold"),
    url("../assets/fonts/nunito-v8-latin-700.woff2") format("woff2"),
    url("../assets/fonts/nunito-v8-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: local("Nunito ExtraBold"), local("Nunito-ExtraBold"),
    url("../assets/fonts/nunito-v8-latin-800.woff2") format("woff2"),
    url("../assets/fonts/nunito-v8-latin-800.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: local("Nunito Black"), local("Nunito-Black"),
    url("../assets/fonts/nunito-v8-latin-900.woff2") format("woff2"),
    url("../assets/fonts/nunito-v8-latin-900.woff") format("woff");
}


@font-face {
  font-family: "Briko";
  font-style: normal;
  font-weight: 400;
  src: local("Briko"), local("Briko"),
    url("../assets/fonts/briko.woff2") format("woff2"),
    url("../assets/fonts/briko.woff") format("woff");
}

@font-face {
  font-family: "Briko";
  font-style: normal;
  font-weight: 700;
  src: local("Briko Bold"), local("Briko-Bold"),
    url("../assets/fonts/briko-bold.woff2") format("woff2"),
    url("../assets/fonts/briko-bold.woff") format("woff");
}
