.forms {
  &__field {
    position: relative;
    width: 531px;
    height: 74px;
    margin: 0 auto;
  }
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 74px;
    padding-left: 37px;
    padding-right: 137px;
    color: #727272;
    background-color: #fff;
    font-size: 20px;
    line-height: 58px;
    border: 1px solid #e0e0e0;
    border-radius: 37px;
    transition: all $mid;
  }
  &__btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 74px;
    padding: 0 26px;
    color: #fff;
    background-color: #d31e15;
    font-size: 18px;
    line-height: 58px;
    text-transform: uppercase;
    border: 0 none;
    border-radius: 37px;
    cursor: pointer;
    transition: all $mid;
    &:hover {
      background-color: #e41703;
    }
  }


  &__radio {
    display: block;
    position: relative;
    padding-left: 60px;
    margin-bottom: 15px;
    margin-right: 12px;
    cursor: pointer;
    font-size: 27px;
    font-weight: 500;
    line-height: 44px;
    white-space: nowrap;
    @media (min-width: 1024px) {
      display: inline-block;
      padding-left: 25px;
      font-size: 16px;
      line-height: 16px;
    }
  }
  &__radio-input {
    display: none;
  }
  &__radio-input:checked + &__radio-switcher:after {
    content: '';
    display: block;
    position: absolute;
    left: 8px;
    top: 8px;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background-color: #ff0000;
    @media (min-width: 1024px) {
      left: 4px;
      top: 4px;
      height: 10px;
      width: 10px;
    }
  }
  &__radio-label {
    vertical-align: middle;
    line-height: 30px;
  }
  &__radio-switcher {
    position: absolute;
    top: 3px;
    left: 0;
    width: 37px;
    height: 37px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #707070;
    @media (min-width: 1024px) {
      width: 20px;
      height: 20px;
      background-color: transparent;
    }
  }
}
