.icon {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: inherit;
  background-repeat: no-repeat;
  background-position: 50%;

  &--arrow-back {
    width: 26px;
    height: 26px;
    background-image: svg-load("../assets/images/icons/icon-arrow-back.svg");
    background-size: 26px 21px;
  }

  &--burger {
    width: 70px;
    height: 81px;
    background-image: svg-load("../assets/images/icons/icon-menu-burger.svg");
    background-size: 70px 33px;
  }

  &--heart {
    top: -1px;
    background-image: url(../assets/images/icons/icon-heart.png);
    width: 29px;
    height: 26px;
    background-size: 29px 23px;
  }
  &--time {
    top: -1px;
    background-image: url(../assets/images/icons/icon-time.png);
    width: 27px;
    height: 26px;
    background-size: 27px 24px;
  }
  &--star {
    top: -3px;
    background-image: url(../assets/images/icons/icon-star.png);
    width: 25px;
    height: 26px;
    background-size: 25px 24px;
  }
  &--blue-right-arrow {
    top: -2px;
    background-image: url(../assets/images/icons/icon-blue-right-arrow.png);
    width: 10px;
    height: 10px;
    background-size: 8px 10px;
  }
  &--search {
    top: -1px;
    background-image: url(../assets/images/icons/icon-search.png);
    width: 42px;
    height: 42px;
    background-size: 42px;
  }
  &--min {
    top: -1px;
    background-image: url(../assets/images/icons/icon-min.png);
    width: 31px;
    height: 31px;
    background-size: 31px;
  }
  &--filter {
    top: -2px;
    background-image: url(../assets/images/icons/icon-filter.png);
    width: 50px;
    height: 50px;
    background-size: 50px;
  }
  &--hearts {
    top: -7px;
    background-image: url(../assets/images/icons/icon-two-heart.png);
    width: 48px;
    height: 48px;
    margin-left: 15px;
    background-size: 48px;
  }


  &--tw,
  &--fb,
  &--yt,
  &--ig,
  &--pt {
    width: 60px;
    height: 60px;
    background-size: 50px;
    @media (min-width: 1024px) {
      width: 35px;
      height: 35px;
      background-size: 30px;
    }
  }
  &--tw {
    background-image: svg-load("../assets/images/icons/icon-twitter.svg");
  }
  &--fb {
    background-image: svg-load("../assets/images/icons/icon-facebook.svg");
  }
  &--yt {
    background-image: svg-load("../assets/images/icons/icon-youtube.svg");
  }
  &--ig {
    background-image: svg-load("../assets/images/icons/icon-instagram.svg");
  }
  &--pt {
    background-image: svg-load("../assets/images/icons/icon-pinterest.svg");
  }
}
