.heart-list {
  margin: 20px 0;
  padding: 0 !important;
  &__item {
    position: relative;
    margin-bottom: 12px;
    padding: 18px 45px;
    color: #555;
    background-color: #eeeded;
    border-radius: 6px;
    font-weight: 500;
    list-style: none !important;
    &::before {
      position: absolute;
      content: "";
      top: 29px;
      left: 16px;
      width: 13px;
      height: 10px;
      background-image: url(../assets/images/icons/icon-hero-active.png);
      background-size: 13px 10px;
    }
    &--clear {
      padding: 10px 20px;
      &::before {
        display: none;
      }
    }
  }
}
