// Colors
$black:                       #000;
$white:                       #fff;
$red:                         #ff0000;


$primary-color:               $black;
$secondary-color:             $white;


// Fonts
$sans-serif:                  "Avenir", "Nunito", "Roboto", "Source Sans Pro", "Open Sans", Arial, sans-serif;
$serif:                       "Briko", "Lora", "Playfair Display", Georgia, serif;



$fast:                        150ms;
$mid:                         350ms;
$slow:                        500ms;
