- var items = ["Products", "Our Mission", "Store Locator", "FAQs", "Contact"]
ul.top-nav
  each item in items
    li.top-nav__item
      a.top-nav__link(href="javascript:void(0)", class=((item == "Products") ? 'top-nav__link--active' : ''))= item
      if item == "Products"
        .top-nav__subnav
          ul
            li
              a(href="javascript:void(0)")
                img(src="./assets/images/products-ibuprofen-softgels.png", alt="")
                span Softgel Dye Free
            li
              a(href="javascript:void(0)")
                img(src="./assets/images/products-cetaminophen.png", alt="")
                span Sodium Ibuprofen
            li
              a(href="javascript:void(0)")
                img(src="./assets/images/products-naproxen.png", alt="")
                span Naproxen
            li
              a(href="javascript:void(0)")
                img(src="./assets/images/products-ibuprofen.png", alt="")
                span Ibuprofen Acetaminophen

      if item == "FAQs"
        .top-nav__subnav
          ul
            li
              a.active(href="javascript:void(0)")
                img(src="./assets/images/products-ibuprofen-softgels.png", alt="")
                span Softgel Dye Free FAQs
            li
              a(href="javascript:void(0)")
                img(src="./assets/images/products-cetaminophen.png", alt="")
                span Sodium Ibuprofen FAQs
            li
              a(href="javascript:void(0)")
                img(src="./assets/images/products-naproxen.png", alt="")
                span Naproxen FAQs
            li
              a(href="javascript:void(0)")
                img(src="./assets/images/products-ibuprofen.png", alt="")
                span Ibuprofen Acetaminophen FAQs
          hr

  li.top-nav__item.top-nav__item--fb
    .fb-like(data-href="http://bbcompany.com", data-layout="button_count", data-action="like", data-size="small", data-show-faces="false", data-share="false")
