.top-nav {
  display: flex;
  align-items: center;
  height: 100%;
  @media (max-width: 1023px) {
    display: none;
  }
  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    &:hover {
      .top-nav__subnav {
        opacity: 1;
        visibility: visible;
      }
      .top-nav__link {
        border-bottom: 2px solid $red;
      }
    }
    &--fb {
      min-width: 97px;
    }
  }
  &__link {
    display: block;
    padding: 6px 0 3px;
    font-family: $sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: all $mid;
    &:hover {
      border-bottom: 2px solid $red;
    }
    &--active {
      font-weight: 800;
    }
  }

  &__subnav {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease .15s;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 302px;
    padding-top: 75px;
    box-shadow: 2px 16px 9px rgba(0, 0, 0, 0.09);
    background-color: #f1f1f1;
    z-index: 80;
    ul {
      display: flex;
    }
    li {
      text-align: center;
    }
    a {
      display: block;
      position: relative;
      width: 174px;
      height: 150px;
      padding-top: 128px;
      color: $black;
      font-family: $sans-serif;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
      &:hover > span {
        border-bottom: 2px solid $red;
      }
      span {
        line-height: 22px;
        border-bottom: 2px solid transparent;
        transition: border $mid;
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 50%;
      width: 216px;
      transform: translateX(-50%);
      pointer-events: none;
    }
    hr {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
