.accordion {
  padding: 0 !important;
  &__item {
    margin-bottom: 6px;
    list-style: none !important;
  }
  &__control {
    display: block;
    position: relative;
    padding: 8px 43px 8px 19px;
    background-color: #ecebeb;
    color: #555;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    cursor: pointer;
    @media (min-width: 1024px) {
      padding: 5px 43px 5px 19px;
      font-size: 26px;
    }
    &::after {
      position: absolute;
      content: "";
      top: 16px;
      right: 13px;
      width: 12px;
      height: 16px;
      background-image: url(../assets/images/icons/icon-arrow-gray-right.png);
      transition: all $fast;
    }
    &--active::after {
      transform: rotate(90deg);
    }
  }
  &__content {
    display: none;
    padding: 19px;
    background-color: #fafafa;
    font-size: 32px;
    line-height: 36px;
    @media (min-width: 1024px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
