.paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__next {
    .icon {
      transform: rotate(180deg);
    }
  }
  &__pages {
    display: flex;
  }
  &__link {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 3px;
    line-height: 36px;
    text-align: center;
    border-radius: 18px;
    &--active {
      color: #fff;
      background-color: #2b5f9f;
      font-weight: 500;
    }
  }
}
