.paginator
  a.paginator__prev(href="#")
    i.icon.icon--arrow-back
  ul.paginator__pages
    li
      .paginator__link.paginator__link--active 1
    li
      a.paginator__link(href="#") 2
    li
      a.paginator__link(href="#") 3
    li
      a.paginator__link(href="#") 4
    li
      a.paginator__link(href="#") 5
  a.paginator__next(href="#")
    i.icon.icon--arrow-back
