- var items = ["Products", "Our Mission", "Store Locator", "FAQs", "Contact"]
.mobile-nav.js-nav
  .mobile-nav__wrapper
    ul
      each item in items
        li.mobile-nav__item
          a.mobile-nav__link(href="javascript:void(0)", class=((item == "Products" || item == "FAQs") ? 'mobile-nav__link--subnav js-subnav-toggle' : ''))= item
          if item == "Products"
            .mobile-nav__subnav.js-subnav
              ul
                li
                  a(href="javascript:void(0)") Softgel Dye Free
                li
                  a(href="javascript:void(0)") Sodium Ibuprofen
                li
                  a(href="javascript:void(0)") Naproxen
                li
                  a(href="javascript:void(0)") Ibuprofen Acetaminophen
          if item == "FAQs"
            .mobile-nav__subnav.js-subnav
              ul
                li
                  a(href="javascript:void(0)") Softgel Dye Free FAQs
                li
                  a(href="javascript:void(0)") Sodium Ibuprofen FAQs
                li
                  a(href="javascript:void(0)") Naproxen FAQs
                li
                  a(href="javascript:void(0)") Ibuprofen Acetaminophen FAQs

  .mobile-nav__close.js-menu-close
