.mobile-nav {
  position: absolute;
  top: 81px;
  right: -100%;
  width: 100%;
  height: calc(100vh - 81px);
  background-color: #f6f6f6;
  background-image: url(../assets/images/textured-line.png);
  background-repeat: repeat-x;
  background-position: bottom;
  transition: right $fast;
  &__wrapper {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }
  &__item {
    &:not(:last-child) {
      border-bottom: 2px solid #b3b3b3;
    }
  }
  &__link {
    display: block;
    position: relative;
    padding-left: 55px;
    font-size: 36px;
    line-height: 83px;
    text-transform: uppercase;
    font-weight: 400;
    &--subnav {
      &::after {
        position: absolute;
        content: "";
        top: 50%;
        right: 31px;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        background-image: url(../assets/images/icons/icon-plus.png);
        background-repeat: no-repeat;
        background-size: 20px;
        transition: transform $mid;
      }
    }
    &--active {
      font-weight: 800;
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  &__subnav {
    display: none;
    padding: 16px 0;
    overflow: hidden;
    border-top: 2px solid #b3b3b3;
    a {
      display: block;
      padding-left: 87px;
      font-size: 32px;
      line-height: 72px;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
  &__close {
    position: absolute;
    top: -81px;
    right: 0;
    width: 110px;
    height: 81px;
    background-color: #fff;
    background-image: svg-load("../assets/images/icons/icon-close-nav.svg");
    background-size: 36px;
    background-position: 50%;
    background-repeat: no-repeat;
  }
}
